version: '3.2'
services:
  listener:
    tty: true
    stdin_open: true
    environment:
      S3_ENDPOINT: ${S3_ENDPOINT}
      AWS_REGION: ${AWS_REGION}
      AWS_BUCKET: ${AWS_BUCKET}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
    command: |
      /bin/bash -c 
      "bundle check || bundle install && 
      /app/entrypoint.sh"
    build: 
      context: .
    volumes:
    - var-lib-clamav:/var/lib/clamav
    - bundle-data:/app/vendor/bundle
    - type: bind
      consistency: cached
      source: .
      target: /app/

volumes:
  var-lib-clamav:
  bundle-data:
