version: 2.1

jobs:
  build:
    docker:
      - image: devago/docker-compose
    environment:
      REGISTRY_HOST: harbor.dsrd.libraries.psu.edu
      REGISTRY_URL: harbor.dsrd.libraries.psu.edu/library/scholarsphere-metadata-listener
      DOCKER_USERNAME: 'robot$circleci'
    steps:
    - setup_remote_docker:
        version: 18.09.3
    - checkout
    - run:
        name: "Build Docker Container"
        command: |
          docker build -t $REGISTRY_URL:$CIRCLE_SHA1 .
    - run:
        name: "Niftany"
        command: |
          docker run $REGISTRY_URL:$CIRCLE_SHA1 /app/bin/niftany
    - run:
        name: "RSpec"
        command: |
          export TAG=$CIRCLE_SHA1
          docker-compose -f docker-compose.yml -f docker-compose-test.yml run --name ci --service-ports test /app/bin/rspec-ci -p ci
    - run:
        name: "Publishing the image"
        command: |
          docker build -t $REGISTRY_URL:$CIRCLE_SHA1 .
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD $REGISTRY_HOST
          docker push $REGISTRY_URL:$CIRCLE_SHA1

workflows:
  version: 2
  metadata:
    jobs:
      - build
